<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель разработчика Лектоник</title>
    <style>
        .admin-button {
            display: block;
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 10px;
            background-color: blue;
            width: max-content;
            border-radius: 5px;
            margin-bottom: 10px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
{% block content %}
    <div style="margin-bottom: 30px;">Вы вошли как: {{ user }}</div>

    <main style="display: flex">
        {% include 'adminapp/blocks/files.html' %}
        {% include 'adminapp/blocks/users.html' %}
    </main>
{% endblock content %}
</body>
</html>