.date-detail__event {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date-detail__event > .left-block,
.date-detail__event > .time-range {
    display: flex;
    flex-direction: column;
}

.date-detail__event > .left-block > .circle {
    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: rgba(0, 37, 255, 1);
}

.left-block.grey > .circle {
    background-color: rgba(180, 180, 180, 1);
}

.date-detail__event > .left-block > .dynamic-circle {
    margin-top: 4px;

    width: 12px;
    height: 96px;

    border-radius: 18px;
    background-color: rgba(0, 37, 255, 1);
}

.left-block.grey > .dynamic-circle {
    background-color: rgba(180, 180, 180, 1);
}

.date-detail__event > .event-info {
    margin-left: 12px;
}

.date-detail__event > .event-info > .theme,
.date-detail__event > .event-info > .lecturer,
.date-detail__event > .event-info > .listener,
.date-detail__event > .event-info > .address {
    font-size: 12px;
    margin-bottom: 4px;
}

.date-detail__event > .event-info span {
    font-weight: 700;
}


.date-detail__event > .event-info > .header {
    margin-bottom: 0;
    font-weight: 700;
}

.date-detail__event > .event-info > .theme {
    margin-top: 8px;
}

.date-detail__event > .time-range {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.date-detail__event > .time-range > .start {
    margin-bottom: 8px;
}

.date-detail__event > .time-range > .end {
    color: rgba(180, 180, 180, 1)
}