.profile-about {
  margin: 0 auto;
  width: 110px
  height: 110px;
  font-family: Montserrat;
  text-align: center;
  button{
    font-family: Montserrat;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 18px
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.profile-about__photo-box{
  display: block;
  position: relative;
  .profile-about__photo{
    margin-top:104px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: white;
  }
}

.profile-about__btn-download{
  width: 56px;
  height: 32px;
  background: #DBDBDB;
  box-sizing: border-box;
  position: absolute;
  bottom: -30px
  left: -12px;
  img{
    display: block;
    margin: 0 auto;
  }
}

.profile-about__full-name{
  margin-bottom: 48px;
  margin-top: 36px;
  span{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
}

.profile-about__btn-add-role{
  width: 56px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DBDBDB;
}

.profile-about__btn-role{
  background-color: rgba(219, 219, 219, 1);
  padding: 8px 15px;
  color: white;
  &.active {
    background-color: rgba(0, 37, 255, 1);
  }
}

.profile-about__btn-role-client{
  width: 110px;
  height: 32px;
  color: #000000;
  background: #DBDBDB;
}