// Обертка для карточки + общие стили

.workroom-card__box{
    box-sizing: border-box;
    font-family: 'Montserrat';
    border-radius: 18px;
    text-align: center;
    margin-right: 12px;
    width: 240px
    overflow: hidden;
}

.workroom-card__box-name{
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    white-space: pre-line
    margin-top: 10px;
    overflow: hidden;
}

.workroom-card__box-description{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #000000;
    margin-top: 8px;
    white-space: pre-line
    display: inline-block;
    max-height: 46px;
    overflow: hidden;
}

// Карточка для лектора -------------------

.workroom-card__img-lector{
    max-width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    img{
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.workroom-card__box-lecture-name{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #B4B4B4;
    margin-top: 8px;
    white-space: pre-line
    display: inline-block;
    max-height: 46px;
    overflow: hidden;
}

// Карточка подтвержденные лекции -------------------

.box-shadow{
    box-shadow: 0 0 20px rgba(0, 6, 32, 0.1);
}

.workroom-card__box-wrapper{
    box-shadow: 0 0 20px rgba(0, 6, 32, 0.1);
    border-radius: 18px;
    border: 1px solid #DBDBDB;
    height: 337px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    span{
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #000000;
    }
}

.workroom-card__img-lecture{
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    img{
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.workroom-card__img-potential-lecture{
    height: 80px;
    border-radius: 18px;
    margin: 0 auto;
    img{
        display: block;
        border-radius: 18px;
        width: 100%;
        height: 100%;
    }
}

.workroom-card__box-btn{
    display: block;
    font-family: 'Montserrat';
    box-sizing: border-box;
    padding: 8px 15px;
    border-radius: 30px;
    cursor: pointer;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: #fff;
    border: 1px solid black;
    position: absolute;
    bottom: 20px;
    left: 27px;
}

.workroom-card__client{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-top: 8px;
}

.workroom-card__client-name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    max-height: 30px;
    overflow: hidden;
}

// Карточка "создать лекцию" -------------------

.workroom-card__create-lecture{
    box-sizing: border-box;
    background: #DBDBDB;
    border-radius: 18px;
    border: 1px solid #DBDBDB;
    height: 337px;
    padding: 103px 76px;
    cursor: pointer;
    div{
        width: 88px;
        height: 88px;
        margin: 0 auto;
        border: 1px solid #B4B4B4;
        box-sizing: border-box;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin: 0;
        }
    }
    h2{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #B4B4B4;
        margin-top: 16px; 
    }
}

// ------------------------------------------------

.workroom-card__hide{
    display: none;
}

