.workroom-card__box{
    box-sizing: border-box;
    font-family: 'Montserrat';
    width: 215px;
    height: 308px;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-right: 12px;
    img{
        margin-bottom: 15px;
    }
}

.workroom-card__box-lector{
    height: 215px;
    padding-top: 0;
    padding-bottom: 0;
}

.workroom-card__boxi-wrapper{
    display: block;
    width: 175px;
    margin: 0 auto;
}


.workroom-card__box--box-shadow{
    box-shadow: 0px 4px 40px rgba(0, 6, 32, 0.2);
}

.workroom-card__box-name{
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    white-space: pre-line
}

.workroom-card__box-description{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #000000;
    padding-top: 6px;
}

.workroom-card__box-description--padding{
    padding: 10px 38px;
    color: #B4B4B4;
}

.workroom-card__box-btn{
    font-family: 'Montserrat';
    width: 175px;
    height: 36px;
    border-radius: 30px;
    cursor: pointer;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: #fff;
    border: 1px solid black;
    position: absolute;
    bottom: 20px;
    left: 20px
}

.workroom-card__box-btn--margin{
    margin-top: 18px;
}

// стили по карточке "создать лекцию"

.workroom-card__create-lection-text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #B4B4B4;
    margin-top: 20px;
}

.workroom-card__create-lection--background{
    background: #DBDBDB;
    padding: 88.5px 63.5px;
}

.workroom-card__create-lection-btn{
    width: 88px;
    height: 88px;
    margin: 0 auto;
    border: 1px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .workroom-card__line{
        width: 65px;
        height: 6px;
        background: #B4B4B4;
        border-radius: 5px;
    }
    .workroom-card__line-rotate{
        position: absolute;
        transform: rotate(90deg);
    }
}

.workroom-card__client{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-top: 8px;
}

.workroom-card__client-name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.workroom-card__hide{
    display: none;
}

.workroom-card__show{
    display: block;
}