@import '~/variables';

.user-account{
    display: flex;
}

.user-account__wrapper{
  box-shadow: 0 4px 40px rgba(0, 6, 32, 0.2);
  height: inherit;
  width: 100%;
}

.user-account__content {
  margin-left: 48px;
}

.user-account__profile{
    width: 362px;
    height: inherit;
    flex-shrink: 0;
}

@media screen and (max-width: $full-screen) {
    .user-account__profile{
        width: 282px;
    }
}

@media screen and (max-width: $middle-screen) {
    .user-account__profile{
        width: 255px;
    }
}
