.current-date-events {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 26px;

    transform: translate(0, -9px);
}

.today > .current-date-events {
    margin-top: 3px;
}


@media screen and (max-width: 1240px){
    .current-date-events {
        transform: translate(0, -7px);
    }
}

//@import "Event.styl";
//@import "EventMultiple.styl";
//@import "EventSame.styl";