.current-date-event {
    width: 12px;
    height: 12px;

    border-radius: 50%;
}

.current-date-event.blue {
    background-color: rgba(0, 37, 255, 1);
    transform: translateX(1px);
}

.current-date-event.grey {
    background-color: rgba(196, 196, 196, 1);
    transform: translateX(-1px);
}

@media screen and (max-width: 1240px){
    .current-date-event {
        width: 8px;
        height: 8px;
    }
}