.block__created-lectures {
  .created-lectures__header {
    display: flex
    align-items: center
    span {
      display: block
      font-weight: 600
      margin-right: 8px
    }
    margin-bottom: 20px
  }
  
  .cards-block {
    display: flex
    overflow-x: scroll
    
    
    
    &::-webkit-scrollbar {
      display: none
    }
    
    .new-lecture {
      margin-right: 51px
    }
    
    .created-lectures {
      display: flex
    }
  }
}