.lecture-cards__error {
  display: flex
  align-items: center
  justify-content: center;
  width: 100%
  height: 340px
  color: $add-pink
  font-size: 14px
}
  
.block__created-lectures {
  .created-lectures__header {
    display: flex
    align-items: center
    span {
      display: block
      font-weight: 600
      margin-right: 8px
    }
    margin-bottom: 20px
  }
  
  .cards-block {
    display: flex
    align-items: center
    
    &.mt-20 {
      margin-top: 20px
    }
    
    .new-lecture {
      margin-right: 51px
    }
    
    .created-lectures__wrapper {
      padding-top: 28px
      padding-right: 20px
      padding-bottom: 20px
      overflow-x: scroll
      &::-webkit-scrollbar {
        height: 8px
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(180, 180, 180, 1);
        border-radius: 18px;
      }
      &::-webkit-scrollbar-track {
        width: 8px;
        background-color: rgba(219, 219, 219, 1);
        border-radius: 18px;
      }
      .created-lectures {
        display: block
        width: max-content
      }
    }
  }
}