.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-top {
  width: 249px;
  max-width: 249px;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #B4B4B4;
  border-radius: 18px;
  height: 32px;
  padding: 0 8.5px 0 20px;
  position: relative;
  z-index: 5;
}

.dropdown__input {
  cursor: pointer;
  border: none;
  outline:none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  width: 100%;
  text-overflow: ellipsis;
}

.dropdown__input::placeholder{
  color: #B4B4B4;
}

.dropdown__arrow {
  cursor: pointer;
  width: 21px;
  height: 21px;
}

show{
  height:100px
  transition: height 1s;
}

.dropdownbox{
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #B4B4B4;
  border-radius: 18px;
  padding: 0 8px 8px 20px;
  position: absolute;
  top: 0px;
  z-index: 2;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .2s ease-in-out;
  min-height: 30px;
}

.show{
  max-height: 250px;
}

.dropdown-box{
  margin-top: 40px
  max-height: 165px;
  overflow-y: auto;
}

.dropdown-box::-webkit-scrollbar-thumb{
  background: #B4B4B4;
  border-radius: 18px;
}

.dropdown-box::-webkit-scrollbar {
  width: 8px;
  background-color: #DBDBDB;
  border-radius: 18px;
}

.dropdown-item{
  cursor: pointer;
  margin-bottom: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-right: 17px;
}

.dropdown-item:hover{
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.dropdown-item:nth-last-child(1){
  margin-bottom: 0px;
}

.hide{
  display: none;
}

  
