.cropper-wrapper{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60%;
  min-height: 200px;
}

.cropper-close-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 101;
  cursor: pointer;
}

.controls {
  margin-bottom: 50px;
}

.control-area {
  text-align: center;
}

.rotation-area>img {
  cursor: pointer;
  margin-bottom: 20px;
}

.rotation-area>img:first-child {
  margin-right 20px;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 300px;
  height: 2px;
  background: var(--main-blue);
  margin-bottom: 30px;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--main-blue);
  background: var(--main-blue);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--main-blue);
  background: var(--main-blue);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}

//react-easy-crop.css с нужными изменениями (отмечены)
.reactEasyCrop_Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactEasyCrop_Image,
.reactEasyCrop_Video {
  will-change: transform; /* this improves performances and prevent painting issues on iOS Chrome */
}

.reactEasyCrop_Contain {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.reactEasyCrop_CropArea {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--main-white); //изменено
  box-sizing: border-box;
  box-shadow: 0 0 0 9999em;
  color: rgba(0, 5, 26, 0.65); //изменено
  overflow: hidden;
}

.reactEasyCrop_CropAreaRound {
  border-radius: 50%;
}

//не используются в проекте
/*
.reactEasyCrop_Cover_Horizontal {
  width: 100%;
  height: auto;
}
.reactEasyCrop_Cover_Vertical {
  width: auto;
  height: 100%;
}

.reactEasyCrop_CropAreaGrid::before {
  content: ' ';
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 33.33%;
  right: 33.33%;
  border-top: 0;
  border-bottom: 0;
}

.reactEasyCrop_CropAreaGrid::after {
  content: ' ';
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  top: 33.33%;
  bottom: 33.33%;
  left: 0;
  right: 0;
  border-left: 0;
  border-right: 0;
}
*/