.select {
}

.select__top-wrapper {
  /*  */
}

.select__top__input {
  border: 1px solid var(--add-darkGrey);
  border-radius: 18px;
  padding: 10px 0px 10px 20px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.select__top__input::placeholder {
  color: var(--add-darkGrey);
}

.select__top__input:focus {
  outline: none;
}

.select__top__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.select__top__input:focus::-moz-placeholder {
  color: transparent;
}

.select__top__input:focus:-moz-placeholder {
  color: transparent;
}

.select__top__input:focus:-ms-input-placeholder {
  color: transparent;
}

.select__top__arrow {
  position: absolute;
  right: 12px;
  top: 18px;
  cursor: pointer;
}

.select__bottom-wrapper {
  border: 1px solid var(--add-darkGrey);
  background-color: var(--main-white);
  max-height: 219px;
  border-radius: 18px;
  padding-top: 44px;
  padding-left: 20px;
  margin-top: -40px;
  z-index: -5;
}

.select__bottom__option {
  margin-bottom: 8px;
}

.select__bottom__option:hover {
  cursor: pointer;
}
