.change-password__back-arrow {
    position: absolute;
    top: 94px;
    left: 5%;
    cursor: pointer;
}

.change-password__text {
    text-align: center;
}

.change-password__text > h2 {
    padding: 0px;
    margin: 120px auto 36px;
}

.change-password__text > p {
    font-size: 14px;
    line-height: 17px;
}
