header {
  height: 60px;
  box-shadow: 0px 4px 40px rgba(0, 12, 63, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 170px;
  height: 30px;
  margin-left: 60px;
  cursor: pointer;
}

.header__nav {
  margin-right: 60px;
}

.header__nav-search,
.header__nav-profile {
  cursor: pointer;
}

.header__nav-search {
  margin-right: 48px;
}
