.main {
  /*width: 70%;*/
  margin-top: 100px;
  margin-left: 11%;
  display: flex;
}

.main__text-wrapper {
  min-width: 621px;
}

.main__text-header {
  font-size: 44px;
  line-height: 54px;
  font-weight: 800;
  margin-bottom: 20px;
}

.main__text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 48px;
}

/*на главной размер кнопки отличается от всего проекта*/
.main__btn {
  width: 288px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0px;
}

.main__illustration-wrapper {
  width: 45%;
  max-width: 700px;
}

.main__illustration {
  width: 100%;
 /* z-index: -2;*/
  margin-left: 24px;
  padding-top: 15px;
}

@media screen and (max-width: 1440px) {
  .main {
    margin-top: 92px;
    margin-left: 12%;
  }
  .main__text-wrapper {
    min-width: 590px;
  }
  .main__text-header {
    font-size: 40px;
    line-height: 49px;
  }
  .main__text {
    font-size: 18px;
    line-height: 24px;
  }
  .main__btn {
    font-size: 18px;
    line-height: 22px;
  }
  .main__illustration {
    margin-left: -150px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    margin-top: 48px;
  }
  .main__text-wrapper {
    min-width: 590px;
  }
  .main__illustration {
    min-width: 400px;
  }
}

/*этого нет по макету, но так не появляется горизонтльный скролл*/
@media screen and (max-width: 980px) {
  .main {
    margin-left: 0;
    text-align: center;
    display: block;
  }
  .main__btn{
    margin-bottom: 28px;
  }
  .main__illustration-wrapper {
    width: 400px;
    margin: 0 auto;
  }
  .main__illustration {
    width: 400px;
    margin-left: 0px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 720px) {
  .main {
    margin-top: 48px;
    margin-left: 0;
    text-align: center;
    display: block;
  }
  .main__text-wrapper {
    min-width: 281px;
  }
  .main__text-header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .main__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 28px;
  }
  .main__btn {
    width: 232px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 28px;
  }
  .main__illustration-wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .main__illustration {
    width: 320px;
    min-width: 320px;
    margin-left: 0px;
    padding-top: 0px;
  }
  main {
    padding-bottom: 24px;
  }
}
