.modal__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 7, 37, 0.7);
    z-index: 100;
}

.modal__wrapper.open {
    height: 100%;
    display: block;
}

.modal__wrapper.close {
    height: 0;
    display: none;
}

.modal__body {
    background: #FFFFFF;
    margin: 108px auto;
    border-radius: 18px;
    box-shadow: 0px 4px 40px rgba(0, 12, 63, 0.2);
}

.modal__close {
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer
}