.not-found {
    margin: 120px 0px 0px;
}

.not-found__text {
    text-align: center;
    margin: 0px 0px 20px;
}

.not-found__text h2 {
    padding: 0px;
    margin-bottom: 28px;
}

.not-found__text p {
    font-size: 14px;
    line-height: 17px;
}

.not-found__lectonic {
    position: relative;
    width: 185px;
    min-height: 305px;
    margin: 0px auto 0px;
}

.not-found__lectonic__head {
    width: 185px;
    height: 185px;
    background-color: var(--main-black);
    border-radius: 50%;
    position: absolute;
    left: 0px;

    animation: head_move 1000ms linear;
    animation-iteration-count: 1;
    transform-origin: 92px 92px;
}

@keyframes head_move {
    0% {transform: rotate(0deg); left: 0px; top: 0px}
    25% {left: -50px; top: 5px;}
    50% {left: -100px; top: 30px;}
    75% {left: -170px; top: 68px;}
    100% {transform: rotate(-345deg); left: -220px; top: 92px;}
}

.not-found__lectonic__head-face {
    width: 105px;
    height: 105px;
    background-color: var(--main-white);
    position: absolute;
    left: 40px;
    top: 40px;
}

.not-found__lectonic__eye-left {
    width: 23px;
    height: 23px;
    background-color: var(--main-black);
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 55px;

    animation: eyeLeft_move 1000ms linear;
    animation-iteration-count: 1;
}

@keyframes eyeLeft_move {
    0% {left: 50px; top: 55px}
    30% {left: -50px; top: 55px}
    60% {left: -195px; top: 254px;}
    70% {left: -225px; top: 244px;}
    80% {left: -250px; top: 254px;}
    90% {left: -275px; top: 252px;}
    100% {left: -295px; top: 254px;}
}

.not-found__lectonic__eye-right {
    width: 23px;
    height: 23px;
    background-color: var(--main-black);
    border-radius: 50%;
    position: absolute;
    left: 110px;
    top: 55px;
    z-index: 1;

    animation: eyeRight_move 1000ms linear;
    animation-iteration-count: 1;
}

@keyframes eyeRight_move {
    0% {left: 110px; top: 55px}
    30% {left: 160px; top: 150px}
    60% {left: 185px; top: 254px;}
    80% { top: 234px;}
    100% {left: 270px; top: 254px;}
}

.not-found__lectonic__body {
    width: 185px;
    height: 93px;
    background-color: var(--main-blue);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: absolute;
    left: 0px;
    top: 185px;

    animation: body_move 1300ms linear;
    animation-iteration-count: 1;
    transform-origin: 92px 46px;
}

@keyframes body_move {
    0% {transform: rotate(0deg); left: 0px; top: 185px}
    45% {transform: rotate(0deg); left: 0px; top: 185px}
    60% { left: 100px; top: 50px}
    70% { left: 200px; top: 100px}
    80% {transform: rotate(-140deg); left: 220px; top: 170px;}
    90% {transform: rotate(-130deg); left: 220px; top: 170px;}
    100% {transform: rotate(-140deg); left: 220px; top: 170px;}
}

.not-found__lectonic__head, .not-found__lectonic__eye-left, .not-found__lectonic__eye-right, .not-found__lectonic__body {
    /*задержка начала анимации*/
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
    /*сохраняет конечное состояние ключевого кадра*/
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.not-found__lectonic__number {
    font-size: 87px;
    line-height: 105px;
    font-weight: 700;
    position: absolute;
    top: -500px;
    z-index: 0;

    animation: number_move 1000ms linear;
    animation-iteration-count: 1;

    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes number_move {
    0% {top: -500px}
    40% {top: -500px}
    60% {top: 190px}
    70% {top: 150px}
    80% {top: 190px}
    100% {top: 190px}
}



