.user-details-wrapper {
  margin: 0 auto;
  max-width: 471px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  font-size: 14px;
  line-height: 17px;
}

.submain-title {
  padding-bottom: 28px;
}

.general-text {
  margin: 0px 0px 36px;
}

.input-container {
  display: flex;
  width: 100%;
  position: relative;
  max-width: 352px;
  padding-bottom: 28px;
}

.special-sign {
  position: absolute;
  right: 0;
  top: -8px;
  color: var(--add-pink);
}

.user-details-form textarea {
  resize: none;
  display: inline-block;
  width: 471px;
  height: 180px;
  border: 1px solid var(--add-darkGrey);
  border-radius: 18px;
  padding: 9px 0px 20px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 48px;
  margin-top: 25px;
}

.user-details-form textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.user-details-form textarea:-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.user-details-form textarea::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.user-details-form textarea:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.select-city {
  width: 249px;
}

.place {
  background-color: #dbdbdb;

  margin-left: -72px;
  margin-right: 12px;
}

.input-with-icon {
  display: flex;
  margin-left: -75px;
}

.input-with-icon > img {
  margin-right: 12px;
}

.location-icon {
  margin-top: 5px;
}
.info-icon {
  margin-top: -230px;
}