.icon-wrapper {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 36px;
    margin-right: 12px;
}

.icon-wrapper:hover >.icon-hovered {
    opacity: 1;
}

.icon-hovered {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}