.calendar__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    overflow-x: hidden;
}

.calendar__container {
    position: relative;
    display: flex;
    justify-content: center;

    width: 544px;
    height: 573px;

    background-color: #F5F5F5;
    border-radius: 18px;

    overflow: hidden;
}

.calendar__container > .inside__container {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    bottom: 48px;

    width: 544px;
    height: 515px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1900px) {
    .calendar__container {
        width: 474px;
    }

    .calendar__container > .inside__container {
        width: 474px;
    }
}

@media screen and (max-width: 1240px) {
    .calendar__wrapper {
        display: block;
        margin: 0 auto;
    }

    .calendar__container {
        width: 360px;
        height: 393px;

        display: block;
        margin: 0 auto;

        border-radius: 0;
    }

    .calendar__container > .inside__container {
        width: 360px;
        height: 393px;

        bottom: 16px;
    }
}

@import "Date/*";