.inside__container > .dates__list
  display grid
  grid-template-columns repeat(7, 67px)
  grid-template-rows repeat(6, 67px)
  grid-gap 5px

.dates__list > .dates__underlines
  position absolute
  transform translate(0, -2px)
  width 492px

.dates__underlines > .dates__underline
  height 1px
  margin-top 71px
  background-color var(--main-border-color)
