.inside__container > .month-nav {
    display: flex;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
}

.month-nav > div {
    width: 35px;
    height: 35px;

    cursor: pointer;
}

.month-nav > div > button {
    display: inline-block;

    border: solid black;
    border-width: 0 2px 2px 0;

    padding: 4px;

    background-color: inherit;
    cursor: pointer;
}

.month-nav > div > button.left {
    transform: rotate(135deg) translate(-9px, -10px);
}

.month-nav > span {
    display: inline-block;
    text-align: center;
    width: 95px;
    line-height: 35px;
}

.month-nav > div > button.right {
    transform: rotate(-45deg) translate(7px, 9px);
}
