.step-block__input-area {
  width: 441px
  height: 32px
  outline: none
  border: 1px solid $main-grey
  border-radius: 18px
  box-sizing: border-box
  padding: 8px 20px

  font-family: 'Montserrat', sans-serif;
  font-size: 12px

  &::placeholder {
    color: $main-grey
  }
}