/*
 * Colors
 */
$main-blue = #0025ff
$main-black = #000000
$main-white = #ffffff
$add-pink = #ff00c1
$add-purple = #b924ff
$add-yellow = #ffe600
$add-emerald = #00d378
$add-darkGrey = #b4b4b4
$add-grey = #dbdbdb
$add-greyDisable = #c4c4c4
$add-darkBlue = #00051A
$add-lightBlue = #5FB5FF
$add-orange = #FF8A00
$add-greyPattern = #F7F7F7
$main-grey = alpha(rgb(180 180 180), 1)
$main-border-color = alpha(rgb(219 219 219), 1)

/* переменные для цветов в проекте */
:root
  --main-blue #0025ff
  --main-black #000000
  --main-white #ffffff
  --add-pink #ff00c1
  --add-purple #b924ff
  --add-yellow #ffe600
  --add-emerald #00d378
  --add-darkGrey #b4b4b4
  --add-grey #dbdbdb
  --add-greyDisable #c4c4c4
  --add-darkBlue #00051A
  --add-lightBllue #5FB5FF
  --add-orange #FF8A00
  --add-greyPattern #F7F7F7
  --main-grey alpha(rgb(180 180 180), 1)
  --main-border-color alpha(rgb(219 219 219), 1)

/*
 * Typographics
 */
$bdRad = px2rem(18px)
$bdWid = 1px
$fntBld = 700
$fontSize = 16px
$marginTop = 1rem
$marginTopSemi = 0.5rem
$fsBig = px2rem(18px)
$fsNorm = px2rem(14px)
$fsSmall = px2rem(12px)
$fsXs = px2rem(11px)