.inside__container > .days-of-week__container
  display flex
  flex-direction column
  width 505px

.days-of-week__container > .days-of-week
  display flex
  justify-content space-around

.days-of-week__container > .days-of-week > .day-of-week
  color #b4b4b4

.days-of-week__container > .days-of-week__underline
  width 492px
  height 1px
  background-color #dbdbdb
  border none
  margin-bottom 20px
