.photo-preview__block {
  .btn-file {
    font-weight: 500
    font-size: 14px

    box-sizing border-box
    margin-left: 12px

    text-align: center
    
    border: 1px solid var(--add-purple);
    border-radius: 30px;
    background: var(--main-white);
    color: var(--add-purple);
    padding: 7px 15px
    cursor: pointer;
    
    input {
      display: none
    }
  }
  .block-images {
    display: flex
  }
}