.role-steps__content-wrapper {
  font-size: 14px;
  line-height: 17px;
}

.content__choose-role-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.required-sign.chooseRole {
  margin-left: 8px;
}

.lecturer-right__header {
  padding-top: 10px
}

.btn-role {
  border-radius 45px
  font-size 14px
  font-weight 400
  padding 6px 20px
  border 1px solid var(--main-black)
  background-color var(--main-white)
  color var(--main-black)
  font-family: 'Montserrat', sans-serif;
  cursor pointer
}
  
.btn-role-selected {
  border-radius 45px
  font-size 14px
  font-weight 700
  padding 6px 20px
  border 1px solid var(--main-blue)
  background-color var(--main-blue)
  color var(--main-white)
  font-family: 'Montserrat', sans-serif;
  cursor pointer
}

.chooseRole__bottom-btns {
  padding-top: 16px;
  text-align: center;
}

.chooseRole__role__text > p {
  padding-top: 3px;
}


.step-block-wrapper {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 44px;
}
  
.step-block {
  display: flex;
  align-items: center;
  height: auto;
  
  &.mt-12 {
    margin-top: 12px
  }
}
  
.lecturer-link__block {
  display: flex
  margin-bottom: 24px
  .lecturer-link__input-list {
    display: flex
    flex-direction: column
    .lecturer-link__input {
      position: relative;
      display flex
      input {
        font-family: 'Montserrat', sans-serif
        font-size: 12px
        &::placeholder {
          color: rgba(180, 180, 180, 1);
        }
      }
      img {
        cursor: pointer
        transform: translateX(-45px)
      }
    }
    .link-block {
      box-sizing border-box
      height: 32px
      margin-top: 12px
      padding: 8px 20px
      max-width: 384px
      background-color: $add-grey
      border-radius: 18px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    }
  }
}
  
.step-block-with-textarea {
  display: flex;
  align-items: flex-start;
}

.step-block__left-part {
  width: 41%;
  box-sizing border-box
  padding-top: 9px
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 20px;
  
  &.pt-0 {
    padding-top: 0
  }
}
  
.left-part-with-textarea {
  padding-top: 10px;
}

.step-block__required-sign {
  margin-left: 8px;
}
  
.step-block__head-text {
  font-size: 14px;
  line-height: 17px;
}

.margin-bottom-36 {
    margin-bottom: 36px;
}
  
.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}
  
.margin-right-12 {
  margin-right: 12px;
}
  
.step-block__user-agreement {
  text-decoration: underline;
  margin-top: 8px;
  font-size: 11px;
  line-height: 13px;
  cursor: pointer;
}


.step-block__right-comment {
   width:  460px;
  margin-top: 8px;
}
  
.add-link__icon {
  margin-left: -56px;
  margin-top: 3px;
}
  
.choose-role__btn {
  text-align: center;
}
  
.link-to-back {
  display: flex
  align-items: center
  //position: absolute
  //left: 62px
  margin-right: 20px
  cursor: pointer
  font-size: 11px
  span {
    margin-left: 10px
  }
}

.step-block.steps__btn.mb-148 {
  display: flex
  justify-content: center;
  margin-bottom: 148px
}
  
.steps__underline {
  opacity: .3
  margin: 0 auto
  width: 63%
  height: 4px

  margin-bottom: 24px
  
  border-radius: 3px
  background-color: $add-grey
}

  