.role-steps__content-wrapper {
  font-size: 14px;
  line-height: 17px;
}

.content__choose-role-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.required-sign.chooseRole {
  margin-left: 8px;
}

.chooseRole__bottom-btns {
  padding-top: 16px;
  text-align: center;
}

.chooseRole__role__text > p {
  padding-top: 3px;
}


.step-block-wrapper {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 44px;
}
  
.step-block {
  display: flex;
  align-items: center;
  height: auto;
}
  
.step-block-with-textarea {
  display: flex;
  align-items: flex-start;
}

.step-block__left-part{
  width: 41%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 20px;
}
  
.left-part-with-textarea {
  padding-top: 10px;
}

.step-block__required-sign {
  margin-left: 8px;
}
  
.step-block__head-text {
  font-size: 14px;
  line-height: 17px;
}

.margin-bottom-36 {
    margin-bottom: 36px;
}
  
.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}
  
.margin-right-12 {
  margin-right: 12px;
}
  
.step-block__user-agreement {
  text-decoration: underline;
  margin-top: 8px;
  font-size: 11px;
  line-height: 13px;
  cursor: pointer;
}
  
.btn-file {
  border: 1px solid var(--add-purple);
  border-radius: 30px;
  background: var(--main-white);
  color: var(--add-purple);
  padding: 7px 20px 8px;
  cursor: pointer;
}

.step-block__right-comment {
   width:  460px;
  margin-top: 8px;
}
  
.add-link__icon {
  margin-left: -56px;
  margin-top: 3px;
}
  
.choose-role__btn {
  text-align: center;
}
  
  


  