.role-steps__text {
  color: var(--add-darkGrey);
  width: 44%;
  margin: 60px auto 8px;
  display: flex;
  justify-content: space-between;
}

.role-steps__bar {
  height: 4px;
  width: 63%;
  margin: 0px auto 36px;
  border-radius: 3px;
  background-color: rgba(219, 219, 219, .3);

}

.role-steps__bar-current {
  height: 4px;
  width: 33%;
  border-radius: 3px;
  background-color: var(--main-blue);

  margin-left: 0%;
  transition margin-left .3s
}