.date-detail__wrapper
  position relative
  display flex
  flex-direction column
  align-items center
  justify-content flex-end
  height 621px
  width 571px
  margin-left 78px

.date-detail__wrapper::after
  content ''
  display block
  position absolute
  left 0
  bottom 0
  width 560px
  height 60px
  background linear-gradient(transparent 20%, white 80%)

.date-detail__wrapper > .date-detail__header
  position absolute
  top 58px
  display flex
  align-self flex-start
  justify-content flex-end
  flex-direction column
  align-items center
  width 543px
  height 66px
  font-weight 700
  font-size 16px
  background-color white
  border-bottom 1px solid #dbdbdb
  box-shadow none
  z-index 4

.date-detail__header > span
  margin-bottom 28px

.date-detail__body
  width 100%
  height 488px
  transform translate(0, -10px)
  overflow-y scroll

.date-detail__body::-webkit-scrollbar
  width 8px

.date-detail__body::-webkit-scrollbar-thumb
  background-color rgba(180, 180, 180, 1)
  border-radius 18px

.date-detail__body::-webkit-scrollbar-track
  width 8px
  background-color rgba(219, 219, 219, 1)
  border-radius 18px

.date-detail__body > .date-detail__main
  display flex
  flex-direction column
  width 543px
  height 488px

.date-detail__wrapper > .no-events
  display flex
  flex-direction column
  align-items center
  font-family 'Montserrat', sans-serif
  position absolute
  top 176px
  width 432px

.no-events > p
  text-align center
  font-size 14px

.no-events > .create-event
  width 352px
  height 48px
  margin-top 28px
  border-radius 38px
  background-color rgba(185, 36, 255, 1)
  border none
  color rgba(255, 255, 255, 1)
  font-weight 500
  font-size 16px
  font-family 'Montserrat', sans-serif
