.respondents__block {
  display: flex;
  align-items: center
  font-size: 12px;
  margin-bottom: 4px;
  
  .respondent-photo {
    width: 28px
    height: 28px
    overflow: hidden;
    border-radius: 50%
  }
  & > .respondents__text {
    display: inline
    margin-right: 8px
    font-weight: 400
    color: $main-blue;
  }
}