.lecture__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 316px;

    box-shadow: 0 4px 40px rgba(0, 6, 32, 0.2);
    border-radius: 18px;
}

.lecture__card > .photo {
    margin-top: 28px;
}

.lecture__card > .card-header {
    margin-top: 12px;

    font-size: 16px;
    font-weight: 700;
}

.lecture__card > .card-body {
    margin-top: 4px;

    width: 200px;

    text-align: center;
    font-size: 12px;
}

.lecture__card > button {
    margin-top: 60px;

    width: 200px;
    height: 40px;

    border-radius: 30px;
    border: 1px solid black;
    background-color: transparent;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}