.auth {
  margin: 0px 40px;
  padding-bottom: 51px;
  position: relative;
}

.auth__header {
  width: 212px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.auth__header__SignIn-text, .auth__header__SignUp-text {
  cursor: pointer;
  margin: 0px;
}

.auth__text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 28px;
}

.auth__text-margin{
  margin-bottom: 0px;
}

.auth__link{
  color: var(--main-blue);
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  cursor: pointer;
}

.auth__text p {
  font-size: 11px;
  line-height: 13px;
  margin: 8px 0px 0px;
}

h5 {
  color: var(--main-blue);
  cursor: pointer;
  display: inline;
  margin: 0px;
}

.auth__form {
  display flex
  flex-direction column
  align-items: center
}

.auth__form__bottom-block {
  width: 100%
}
  
.auth__form__password-forgotten {
  text-align: right;
  color: var(--main-blue);
  font-size: 11px;
  line-height: 13px;
  text-decoration: underline;
  margin: 8px 0 20px;
  cursor: pointer;
}

/*ИНПУТЫ*/
.input-temporary-margin {
  margin-bottom: 36px;
  position: relative;
}
  
.auth__form__input-wrapper {
  position: relative;
}

.auth__form__input-wrapper:first-child {
  margin-bottom: 28px;
}

.form__input.password2 {
  margin-bottom: 0px;
}

/*ИНПУТ ПРИ ОШИБКЕ*/
.form__input-error {
  font-size: 12px;
  line-height: 15px;
  color: var(--add-pink);
  margin-top: 4px;
}

/* ИКОНКИ СКРЫТЬ И ПОКАЗАТЬ ПАРОЛЬ */
.password-icon {
  cursor: pointer;
  position: absolute;
  left: 296px;
}

npm
/*КНОПКИ*/
.auth__form__btn {
  margin-bottom: 20px;
}

.auth__form__btn.signUp {
  margin: 28px 0 20px;
}

.auth__socials {
  text-align: center;
}

.auth__socials > span {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
}

.auth__socials > button {
  width: 352px;
  height: 48px;
  margin-bottom: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__socials > button > img {
  padding-right: 12px;
}

.auth__socials__btn-google {
  color: var(--main-black);
  background-color: var(--main-white);
  border: 1px solid var(--add-darkGrey);
}

.auth__socials__btn-fb,
.auth__socials__btn-vk {
  background-color: #1877f2;
  border: none;
  color: var(--main-white);
}

.auth__bottom-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  display: block;
  &.fz-11 {
    font-size: 11px
  }
}
  
.auth__bottom-text > span {
  color: var(--main-blue);
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  cursor: pointer;
}

/*checkbox */
.auth__form__checkbox-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.auth__form__checkbox-wrapper.signIn {
  margin-bottom: 28px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"] {
    --active: var(--main-blue);
    --active-inner: var(--main-white);
    --border: var(--main-white);
    --background: var(--add-grey);
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    background: var(--b, var(--background));
    transition: background 0.3s;
    border: none;
  }
  input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.6s) var(--d-t-e, ease),
      opacity var(--d-o, 0.9s);
  }
  input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  input[type="checkbox"] + label {
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
    vertical-align: center;
    cursor: pointer;
    margin-left: 8px;
  }

  #auth__form__checkbox-signUpLabel {
    position: absolute;
    right: -8px;
    top: 1px;
  }

  input[type="checkbox"].auth__form__checkbox-switch {
    width: 28px;
    padding: 1px
    border-radius: 45px;
  }
  input[type="checkbox"].auth__form__checkbox-switch:after {
    left: 2px;
    top: 50%;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0)) translateY(-50%);
  }
  input[type="checkbox"].auth__form__checkbox-switch:checked {
    --ab: var(--active-inner);
    --x: 12px;
  }
}

.auth__password-forgotten__text {
  font-size: 12px;
  line-height: 15px;
  margin-top: 12px;
}

.auth__password-forgotten__text-bottom {
  display: block;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.auth__password-forgotten {
  padding-bottom: 60px;
}
  
.input-wrapper__signup-email {
  margin-bottom: 20px;
}
  
//чтоб в компоненте ContinueRegistration заполнить мейн
.continue-register-main {
  height: 900px;
}
