.verify__wrapper {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin-top: 100px;
}

.verify__wrapper > h2 {
  margin-bottom: 20px;
}

.verify__wrapper > p {
  margin-bottom: 12px;
}

#verify__email {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.verify__email__text-bottom {
  padding-top: 8px;
  font-size: 14px;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
}

.verify__email__text-bottom > span {
  cursor: pointer;
  margin-left: 4px;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-blue);
  text-decoration-line: underline;
}
