<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Информационное сообщение сервиса Лектоник</h2>
    <hr>

    <p>Уважаемый пользователь!</p>

    <p>Мы рады приветствовать вас на нашем сервисе.</p>

    <p>Чтобы продолжить регистрацию, перейдите по следующей ссылке:</p>
    <span>{{ host }}/confirm_email/?key={{ key }}</span>

    <p>Данное письмо было сгенерировано автоматически. Пожалуйста, не отвечайте на него.</p>
</body>
</html>