<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Информационное сообщение сервиса Лектоник.</h2>
    <hr>

    <p>
        С Вашей учётной записи был запрошен сброс пароля. Если это были не Вы, проигнорируйте это письмо.
        Если Вы считаете, что Ваши персональные данные попали к злоумышленникам,
        незамедлительно свяжитесь с нашей службой поддержки, чтобы мы могли Вам помочь.
    </p>

    <p>
        В соответствии с политикой безопасности мы не высылаем пароль в письме.
        Для создания нового пароля, пожалуйста, перейдите по ссылке и следуйте инструкции:
    </p>
    <span>{{ host }}/confirm_email?key={{ key }}&reset_password=true</span>

    <p>Данное письмо было сгенерировано автоматически. Пожалуйста, не отвечайте на него.</p>
</body>
</html>