<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Информационное сообщение сервиса Лектоник</h2>
    <hr>

    <p>Уважаемый пользователь!</p>

    <p>Мы рады тому что вы решили восстановить пароль.</p>

    <p>Чтобы продолжить восстановление пароля, перейдите по следующей ссылке:</p>
    <span>{{ host }}/confirm_email?key={{ key }}&reset_password=true</span>

    <p>Данное письмо было сгенерировано Никитой Павленко. Пожалуйста, не отвечайте на него.</p>
</body>
</html>