
.lecture__container {
  display: flex
  flex-direction: column
  align-items: center
  
  .header__picture {
    height: 150px;
  }
  
  .lecture__wrapper {
    display: flex
    justify-content: center;
    width: 938px
    
    .left-block {
      display: flex
      flex-direction: column
      margin-right: 36px
      
      .lecture-photo {
        width: 290px
        height: 163px
        border: 1px solid
        border-radius: 18px
      }
      .status {
        margin-top: 19px
      }
      .block__person {
        margin-top: 37px
      }
      .block__equipment {
        margin-top: 32px
      }
      .block__cost {
        margin-top: 32px
      }
    }
    .right-block {
      display: flex
      flex-direction: column
      
      .lecture-name {
        font-size: 36px
      }
      .block__domains {
        margin-top: 12px
      }
      .block__dates {
        margin-top: 36px
      }
      .block__address {
        margin-top: 41px
      }
      .block__description {
        margin-top: 32px
      }
      .btn-response {
        margin-top: 57px
        font-family: 'Montserrat', sans-serif
      }
    }
  }
}
