.header__profile-drop-down {
  position: absolute
  right: 60px
  top: 60px
  
  width: 235px
  height: 302px
  
  box-sizing: border-box

  padding: 28px 24px
  
  background-color: white
  
  border-radius: 0 0 18px 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3)
  
  z-index: 11
  
  .profile-drop-down__list {
    list-style none
    
    .profile-drop-down__item {
      cursor: pointer
      &:hover {
        border: 1px solid
      }
    }
  }
}