.header__profile-drop-down {
  position: absolute
  right: 60px
  top: 70px
  
  width: 235px
  height: 302px
  
  box-sizing: border-box

  padding: 28px 0
  
  background-color: white
  
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 6, 32, 0.1);
  
  transform-origin: 100% 0;
  animation: dropdown-open .1s;

  font-size: 14px
  
  z-index: 11
  
  .profile-drop-down__list {
    list-style none
    
    .profile-drop-down__person {
      padding: 0 24px
      font-weight: 700
    }
    
    .underline {
      margin: 0 24px
      height: 1px
      background-color: $add-grey
      margin-top: 7px
      margin-bottom: 9px
    }
    
    .profile-drop-down__item {
      display: flex
      align-items: center
      padding: 0 24px
      
      height: 35px
      cursor: pointer
      &:hover {
        background-color: $add-lightBlue
        color: white
      }
    }
  }
}