@import './app.styl'
@import './components/Layout/styles/*'
@import './components/Authorization/styles/*'
@import 'components/RegistrationRole/styles/*'
@import './components/UserArea/styles/*'
@import './components/WorkRooms/Calendar/styles/*'
@import './components/WorkRooms/DateDetail/styles/*'
@import './components/WorkRooms/Lecturer/styles/*'
