@import '~/styles/utils/vars.styl'
@import '~/styles/utils/mixins.styl'
@import '~/styles/ui/app.styl'

@import 'components/Layout/styles/*'
@import 'components/Authorization/styles/*'
@import 'components/RegistrationRole/styles/*'
@import 'components/RegistrationRole/styles/LecturerSteps/*'
@import 'components/RegistrationRole/styles/CustomerSteps/*'
@import 'components/Profile/styles/*'
@import 'components/Utils/styles/*'

@import 'components/WorkRooms/CreateEvent/styles/*'
@import 'components/WorkRooms/CreateEvent/styles/partials/*'

@import 'components/WorkRooms/FullCalendar/Calendar/styles/*'
@import 'components/WorkRooms/FullCalendar/DateDetail/styles/*'

@import 'components/Pages/Lecture/styles/*'

@import 'components/WorkRooms/WorkRoom/styles/*'
@import 'components/WorkRooms/WorkRoom/styles/Lecturer/*'
@import 'components/WorkRooms/WorkRoom/styles/Customer/*'
