.current-date-event-multiple {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;

    transform: translateY(4px);
}

.current-date-event-multiple > .event-multiple {
    width: 20px;
    height: 20px;

    background-color: gray;
    border-radius: 50%;

    transition: border-radius .2s, width .2s;
}

.event-multiple.half-blue {
    width: 10px;
    border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
    background-color: rgba(0, 37, 255, 1);
}

.event-multiple.half-grey {
    width: 10px;
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
    background-color: rgba(180, 180, 180, 1);
}

.events-length {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 11px;
    font-weight: 500;
    color: white;
}


.event-multiple.hover-blue,
.event-multiple.hover-grey {
    transform: scale(.9);
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 11px;
    font-weight: 500;
}

.event-multiple.hover-blue {
    background-color: rgba(0, 37, 255, 1);
}

.event-multiple.hover-grey {
    background-color: rgba(180, 180, 180, 1);
}


@media screen and (max-width: 1240px) {
    .current-date-event-multiple > .event-multiple {
        width: 16px;
        height: 16px;
    }

    .event-multiple.half-blue {
        width: 8px;
    }

    .event-multiple.half-grey {
        width: 8px;
    }

    .events-length {
        font-size: 10px;
    }

    .event-multiple.hover-blue,
    .event-multiple.hover-grey {
        line-height: 16px;
    }
}