.upload-photo__block {
  display: grid;
  grid-template-rows: minmax(32px, .2fr) 1fr
  grid-template-columns: .7fr 1fr
  align-items: center
  .upload-photo__label {
    grid-row: 1
    grid-column: 1
    justify-self: end
    text-align: right
  }
  .photo-preview__block {
    grid-row: 1
    grid-column: 2
    align-self: center
  }
}

.step-block__right-comment.lecturer {
  margin: 0
}
