@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --main-grey: rgba(180, 180, 180, 1);
    --main-border-color: rgba(219, 219, 219, 1);
}

* {
    margin: 0;
    padding: 0;
}

@import "./Lecturer/styles/Lecturer.css";
@import "./Calendar/styles/Calendar.css";
@import "./DateDetail/styles/DateDetail.css";