.userInfo {
  margin: 100px auto 191px;
  width: 441px;
  font-size: 14px;
  line-height: 17px;
}

.userInfo__text-header {
  margin-bottom: 20px;
}

.userInfo__text {
  margin-bottom: 36px;
}

.userInfo__form__input-container {
  position: relative;
  margin-bottom: 28px;
}

.userInfo__form span {
  position: absolute;
  left: 313px;
  top: 3px;
}

.userInfo__form__inputIcon-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  margin-left: -68px;
}
.userInfo__form__inputIcon-container textarea {
  margin-bottom: 32px; /*44-12px*/
}
  
.location-icon,
.info-icon,
.birthdate-icon {
  margin-right: 12px;
}

.required-sign-location {
  margin-top: 10px;
  margin-left: 49px;
}

.required-sign-birthdate {
  margin-top: 10px;
  margin-left: -4px;
}

.dropDown-wrapper {
  margin-right: 16px;
}

.userInfo__btn {
  margin-top: 0px;
}
/*

.user-details-form textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.user-details-form textarea:-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.user-details-form textarea::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.user-details-form textarea:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--add-darkGrey);
}

.select-city {
  width: 249px;
}

.place {
  background-color: #dbdbdb;

  margin-left: -72px;
  margin-right: 12px;
} */

.avatar {
  margin-bottom: 28px;
}
  
.avatar__add {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
  
  .avatar__add-text {
    margin-left: 8px;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    color: var(--main-blue);
  }
    
      
  #avatar {
    display: none;
  }
    
  .preview-avatar__img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    margin-bottom: 16px;
  }