.dates__list > .date {
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 60px;
    height: 60px;

    border-radius: 18px;
    background-color: #fff;
    transition: transform .1s;

    z-index: 1;
    cursor: pointer;
}

.dates__list > .date:hover {
    font-weight: 700;
    border: 3px solid var(--main-grey);
    box-shadow: 0 4px 10px rgba(0, 6, 32, .2);

    transform: scale(1.3);

    z-index: 2;
}

.dates__list > .date.active {
    transform: scale(1.3);

    font-weight: 700;

    border: 3px solid var(--main-grey);
    box-shadow: 0 4px 10px rgba(0, 6, 32, .2);

    z-index: 3;
}

.dates__list > .date > span {
    display: block;
    margin-top: 8px;
}

.dates__list > .today {
    font-weight: 700;
    border: 3px solid var(--main-grey);
}

.dates__list > .inactive {
    color: var(--main-grey);
    background-color: inherit;
}

.dates__list > .inactive:hover {
    transform: none;
    border: none;
    box-shadow: none;
    font-weight: inherit;
}

.dates__list > .weekend {
    color: #FFFFFF;
    background-color: #DBDBDB;
}

.events-mini {
    display: flex;
    transform: translate(0, -12px);
}

.events-mini > .blue,
.events-mini > .grey {
    width: 12px;
    height: 12px;

    border-radius: 50%;
}

.events-mini > .blue {
    background-color: rgba(0, 37, 255, 1);
    margin-right: 2px;
}

.events-mini > .grey {
    background-color: rgba(196, 196, 196, 1);
    margin-left: 2px;
}
